body{
	background-color: rgb(252, 252, 252);
	margin: auto 0; 
}

h1{
	text-align: center;
}

.main-ul{
	display: flex;
	list-style: none;
}
.main-nav{
	display: flex;
	justify-content: center;
}
li{
	margin: 10px;
}
#produitVendu{
	height: 400px;
	width: 300px;
}
